<ion-header class="ion-no-border">
  <ion-toolbar class="main-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back" defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-text-center">
      <ion-card-header>
        {{title}}
      </ion-card-header>
    </div>
    
    <ion-card-content>
        {{tag1}}
        <br>
        <br>
        {{tag2}}
        <br>
        <br>
        {{tag3}}
        <br>
        <br>
        {{tag4}}
        <br>
        <br>
        {{tag5}}
        <br>
        <br>
        {{tag6}}
        <br>
        <br>
        {{tag7}}
        <br>
        <br>
      </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar >
  
  </ion-toolbar>
</ion-footer>
